<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Family App</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <style>
        .family {
            width: 100%;
            background: #1337C8;
            color: #5A72D2;
        }
    </style>
</head>
<body>
    <nav class = "nav">
        <a class = "nav-link" href="/addfamily">
            <button type="button" class="btn btn-primary">Add Family</button>
        </a>
        <a class = "nav-link" href="/searchfamily">
            <button type="button" class="btn btn-primary">Search Family</button>
        </a>
    </nav>
    <div style = "width: 600px;  margin-top: 50px; margin-left: auto; margin-right: auto">
        <div th:if = "${childForm != null}">
        <form action="/searchFamilyByChildName" method="post" th:object="${childForm}">
            <div class="form-inline">
                <label for="inputName" class="mr-2">Name</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="inputName" placeholder="Child name" th:field="*{name}">
                <button type="submit" class="btn btn-primary mb-2">Search Family</button>
            </div>
        </form>
        <form action="/searchFamilyByChildSurname" method="post" th:object="${childForm}">
            <div class="form-inline">
                <label for="inputSurname" class="mr-2">Surname</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="inputSurname" placeholder="Child surname" th:field="*{surname}">
                <button type="submit" class="btn btn-primary mb-2">Search Family</button>
            </div>
        </form>
        <form action="/searchFamilyByChildGender" method="post" th:object="${childForm}">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="MALE" th:field="*{gender}">
                        <label class="form-check-label" for="inlineRadio1">MALE</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="FEMALE" th:field="*{gender}">
                        <label class="form-check-label" for="inlineRadio2">FEMALE</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="UNKNOWN" th:field="*{gender}">
                        <label class="form-check-label" for="inlineRadio3">UNKNOWN</label>
                    </div>
            <button type="submit" class="btn btn-primary mb-2">Search Family</button>
        </form>
        <form action="/searchFamilyByChildPesel" method="post" th:object="${childForm}">
            <div class="form-inline">
                <label for="inputPesel" class="mr-2">PESEL</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="inputPesel" placeholder="Child PESEL" th:field="*{pesel}">
                <button type="submit" class="btn btn-primary mb-2">Search Family</button>
            </div>
        </form>
        <form action="/searchFamilyByChildDate" method="post" th:object="${childForm}">
            <div class="form-inline">
                <label for="inputDate" class="mr-2">Born date</label>
                <input type="date" class="form-control mb-2 mr-sm-2" id="inputDate" placeholder="Child born date" th:field="*{bornDate}">
                <button type="submit" class="btn btn-primary mb-2">Search Family</button>
            </div>
        </form>
        </div>
        <div th:if = "${foundChildren != null}">
            <div th:each = "child : ${foundChildren}">
                <a th:href = "'getFamilyByFatherId/' + ${child.getFather().getId()}">
                    <span th:text= "${child.getFather().getName()}"></span>
                    <span th:text= "${child.getFather().getSurname()}"></span>
                    <span th:text= "${child.getFather().getPesel()}"></span>
                    <span th:text= "${child.getFather().getBornDate()}"></span>
                </a>
            </div>
        </div>
        <div th:if="${family != null}" class = "family">
            <div class = "father">
                <span th:text="${family.getName()}"></span>
                <span th:text="${family.getSurname()}"></span>
                <span th:text="${family.getPesel()}"></span>
                <span th:text="${family.getBornDate()}"></span>
            </div>
            <div class = "clear"></div>
            <div th:each = "child : ${family.getChildren()}" class = "child">
                <span th:text="${child.getName()}"></span>
                <span th:text="${child.getSurname()}"></span>
                <span th:text="${child.getPesel()}"></span>
            </div>
            <div class = "clear"></div>
        </div>
    </div>
</body>
</html>